@model IEnumerable<MembershipUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MinPasswordLength
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { UserName = item.UserName }) |
            @Html.ActionLink("Details", "Details", new { UserName = item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { UserName = item.UserName })
        </td>
    </tr>
}

</table>
