<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="SHORTCUT ICON" href="@Url.Content("~/favicon.ico")"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Codapalooza 2 - Programming Fest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script src="@Url.Content("~/js/codapalooza.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      $('#tweets').tweetable({ username: 'codapalooza', time: true, limit: 15, replies: false });
      jQuery.preLoadImages("/imgs/multimedia-h.png", "/imgs/home-h.png", "/imgs/about-h.png", "/imgs/guidelines-h.png");
      $("#" + $.getSection()).addClass("selected")
    });</script>
  <link href="@Url.Content("~/css/reset.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/codapalooza2.css")" rel="stylesheet" type="text/css" />
  @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
</head>
<body>
  <div id="menu">
    <div class="content">
      <ul>
        <li><a id="home" href="@Url.Action("Index", "Home")" class="logo">
          <img src="@Url.Content("~/imgs/codapalooza-logo.png")" width="131" height="26" /></a></li>
        @if (Context.User.IsInRole("Participant"))
        {
        <li><a id="project" href="@Url.Action("Index", "Project")">Projects</a></li>
        }
        <li><a id="guidelines" href="@Url.Action("Index", "Guidelines")">Lignes directrices</a></li>
        <li><a id="schedule" href="@Url.Action("Index", "Schedule")">Horaire</a></li>
        <li><a id="sponsor" href="@Url.Action("Index", "Sponsor")">Commanditaires</a></li>
        <li><a id="about" href="@Url.Action("Index", "About")">A propos</a></li>
        <li><span id="account">@Html.Partial("_LogOnPartial")</span></li>
        <li><div class="user">@Context.User.Identity.Name</div></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="content">
    @if (Request.Url.AbsolutePath.ToLower().StartsWith("home") || Request.Url.AbsolutePath == "/")
    {
      <img src="@Url.Content("~/imgs/codapalooza2.jpg")" width="960" height="379" />
    }
    else
    {
      <img src="@Url.Content("~/imgs/codapalooza2-small.jpg")" width="957" height="148" />
    }
    </div>
  </div>
  <div id="content">
    <div class="leftcol left">
      @RenderBody()
    </div>
    <div class="rightcol right">
      @if (Context.User.Identity.IsAuthenticated == false)
      {      <a href="@Url.Action("Register", "Account")" class="inscription">inscrivez-vous</a>
        <br />
        <br />
      }
      <h2>
        Our recent tweets</h2>
      <div id="tweets">
      </div>
      <a href="http://pyxis-tech.com">
        <img src="@Url.Content("~/imgs/initiated-by-pyxis.png")" width="174" height="75" /></a>
      <br />
      <br />
      <a href="http://pyxis-tech.com/fr/notre-equipe?set_tag=equipe.Tarkeming">
        <img src="@Url.Content("~/imgs/tarkeming.png")" width="214" height="56" /></a>
    </div>
    <div class="clear">
    </div>
  </div>
</body>
</html>
